  <div class="card-self">
  <% if @cocktail.photo.attached? == true %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
        <%= cocktail.name %>
      </div>
  <% else %>
  <% end %>
  </div>


<!-- Need to do:
1. DONE seed for ingredients DONE
2. DONE type.js DONE
3. NOT WORKING select2 UNDONE
4. NO NEED sweetalert PRIORITY LOW
5. SIZE STRANGE cards for each cocktail
5a.opacity to the background or font more visible or pre-opacity image reupload
6. DONE picture for each cocktail as background img
7. DONE JS proper navbar with cocktails and add cocktail
8. DONE review model+controller
9. review count on the index.html represented as an icon
10.DONE add destroy for cocktail and add them to the show
11.add at show a scrolling-wrapper with samples
12.JS animation for cards when hover & scrolling down
13.JS animation when first(if possible) loading index page with smooth transition
14.add small footer -->
