  <div class="card-self">
  <% if @cocktail.photo.attached? == true %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
        <%= cocktail.name %>
      </div>
  <% else %>
  <% end %>
  </div>


<!-- Need to do:
1. seed for ingredients
1a. add small footer
2. type.js
3. select2
4. sweetalert
5. cards for each cocktail
5a.opacity to the background or font more visible or pre-opacity image reupload
6. picture for each cocktail as background img
7. proper navbar with cocktails and add cocktail
8. review model+controller
9. review count on the index.html represented as an icon
10.add destroy and update for cocktail and add them to the show
11.add at show a scrolling-wrapper with samples
12.JS animation for cards when hoveer & scrolling down
13.JS animation when first(if possible) loading index page with smooth transition -->
