<!-- Not beeing used. only testing -->


    <%= link_to new_cocktail_path, class: "cybr-btn" do %>Add Cocktail<span aria-hidden>_</span>
    <span aria-hidden class="cybr-btn__glitch">Add Cocktail_</span>
    <span aria-hidden class="cybr-btn__tag">404</span>
    <% end %>
    <%= link_to 'Add Cocktail', new_cocktail_path, class: "btn btn-outline-primary" %>
