@import url(https://fonts.googleapis.com/css?family=Orbitron);

body {
  background-color:#111;
  font-family: 'Cyber';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Cyber';
  // font-family: 'Orbitron', courier, sans-serif;
}

h5 {
  font-size: 48px;
}

p {
  // margin-top:3em;
  font-size:2em;
}

h1 {font-size:5em;}
a {
  text-decoration:none;
  // color:rgba(255,255,255,.3); // Fallback for Clipping the anchor text on nonWebkit browsers
  color: white;
  font-size: 20px;
}

